.vs/
/TravelGroupAssignment1/TravelGroupAssignment1/bin
/TravelGroupAssignment1/TravelGroupAssignment1/obj
/TravelGroupAssignment1/TravelGroupAssignment-UnitTesting/bin
/TravelGroupAssignment1/TravelGroupAssignment-UnitTesting/obj
/TravelGroupAssignment1/TravelGroupAssignment1/Log/log-20240415.txt
/TravelGroupAssignment1/TravelGroupAssignment-UnitTesting/obj/project.nuget.cache
